@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --progress-color: #4f46e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  font-family: "Sora", sans-serif;
}

.swiper-pagination-bullet-active {
  width: 40px !important;
  border-radius: 10px !important;
  /* background-color: #E5228D !important; */
}
.swiperMovies {
  padding-bottom: 10px !important;
}
.swiper-scrollbar {
  display: flex !important;
  margin-top: 10px !important;
}

.swiper-scrollbar-drag {
  background-color: #228ee5 !important;
}

#nprogress .bar {
  background: var(--progress-color, #4f46e5);
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--progress-color, #4f46e5),
    0 0 5px var(--progress-color, #4f46e5);
}
